{% extends "emailbase.twig" %}

{% block body %}
    <tr>
        <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
            <p style="margin: 0;">We're sad as we couldn't satisfy you with our service. we will try our best to make our services better for customers like you. <br><br>Think once more if you want us to give one more try Just press the button below to reactivate your account</p>
        </td>
    </tr>
{%  endblock %}
